.ds-icon--arrow-back {
  mask-image: url("@/styles/core/assets/icons/arrows/arrow-back.svg");
}

.ds-icon--arrow-downward {
  mask-image: url("@/styles/core/assets/icons/arrows/arrow-downward.svg");
}

.ds-icon--arrow-drop-down {
  mask-image: url("@/styles/core/assets/icons/arrows/arrow-drop-down.svg");
}

.ds-icon--arrow-drop-up {
  mask-image: url("@/styles/core/assets/icons/arrows/arrow-drop-up.svg");
}

.ds-icon--arrow-forward {
  mask-image: url("@/styles/core/assets/icons/arrows/arrow-forward.svg");
}

.ds-icon--arrow-upward {
  mask-image: url("@/styles/core/assets/icons/arrows/arrow-upward.svg");
}

.ds-icon--keyboard-arrow-down {
  mask-image: url("@/styles/core/assets/icons/arrows/keyboard-arrow-down.svg");
}

.ds-icon--keyboard-arrow-left {
  mask-image: url("@/styles/core/assets/icons/arrows/keyboard-arrow-left.svg");
}

.ds-icon--keyboard-arrow-right {
  mask-image: url("@/styles/core/assets/icons/arrows/keyboard-arrow-right.svg");
}

.ds-icon--keyboard-arrow-up {
  mask-image: url("@/styles/core/assets/icons/arrows/keyboard-arrow-up.svg");
}

.ds-icon--unfold-less {
  mask-image: url("@/styles/core/assets/icons/arrows/unfold-less.svg");
}

.ds-icon--unfold-more {
  mask-image: url("@/styles/core/assets/icons/arrows/unfold-more.svg");
}


// content-and-message
.ds-icon--add-image {
  mask-image: url("@/styles/core/assets/icons/content-and-message/add-image.svg");
}

.ds-icon--article {
  mask-image: url("@/styles/core/assets/icons/content-and-message/article.svg");
}

.ds-icon--attach-file {
  mask-image: url("@/styles/core/assets/icons/content-and-message/attach-file.svg");
}

.ds-icon--block {
  mask-image: url("@/styles/core/assets/icons/content-and-message/block.svg");
}

.ds-icon--camera {
  mask-image: url("@/styles/core/assets/icons/content-and-message/camera.svg");
}

.ds-icon--chat-alert {
  mask-image: url("@/styles/core/assets/icons/content-and-message/chat-alert.svg");
}

.ds-icon--chat-bubble {
  mask-image: url("@/styles/core/assets/icons/content-and-message/chat-bubble.svg");
}

.ds-icon--comment {
  mask-image: url("@/styles/core/assets/icons/content-and-message/comment.svg");
}

.ds-icon--delete {
  mask-image: url("@/styles/core/assets/icons/content-and-message/delete.svg");
}

.ds-icon--format-align-center {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-align-center.svg");
}

.ds-icon--format-align-justify {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-align-justify.svg");
}

.ds-icon--format-align-left {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-align-left.svg");
}

.ds-icon--format-align-right {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-align-right.svg");
}

.ds-icon--format-bold {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-bold.svg");
}

.ds-icon--format-italic {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-italic.svg");
}

.ds-icon--format-list-bulleted {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-list-bulleted.svg");
}

.ds-icon--format-list-numbered {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-list-numbered.svg");
}

.ds-icon--format-strikethrough {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-strikethrough.svg");
}

.ds-icon--format-underlined {
  mask-image: url("@/styles/core/assets/icons/content-and-message/format-underlined.svg");
}

.ds-icon--functions {
  mask-image: url("@/styles/core/assets/icons/content-and-message/functions.svg");
}

.ds-icon--insert-code {
  mask-image: url("@/styles/core/assets/icons/content-and-message/insert-code.svg");
}

.ds-icon--insert-emoji {
  mask-image: url("@/styles/core/assets/icons/content-and-message/insert-emoji.svg");
}

.ds-icon--insert-link {
  mask-image: url("@/styles/core/assets/icons/content-and-message/insert-link.svg");
}

.ds-icon--insert-quote {
  mask-image: url("@/styles/core/assets/icons/content-and-message/insert-quote.svg");
}

.ds-icon--insert-text {
  mask-image: url("@/styles/core/assets/icons/content-and-message/insert-text.svg");
}

.ds-icon--keyboard-voice {
  mask-image: url("@/styles/core/assets/icons/content-and-message/keyboard-voice.svg");
}

.ds-icon--locked {
  mask-image: url("@/styles/core/assets/icons/content-and-message/locked.svg");
}

.ds-icon--notes {
  mask-image: url("@/styles/core/assets/icons/content-and-message/notes.svg");
}

.ds-icon--outline {
  mask-image: url("@/styles/core/assets/icons/content-and-message/outline.svg");
}

.ds-icon--photo-add {
  mask-image: url("@/styles/core/assets/icons/content-and-message/photo-add.svg");
}

.ds-icon--subscript {
  mask-image: url("@/styles/core/assets/icons/content-and-message/subscript.svg");
}

.ds-icon--superscript {
  mask-image: url("@/styles/core/assets/icons/content-and-message/superscript.svg");
}

.ds-icon--text-fields {
  mask-image: url("@/styles/core/assets/icons/content-and-message/text-fields.svg");
}

.ds-icon--text-sms {
  mask-image: url("@/styles/core/assets/icons/content-and-message/text-sms.svg");
}

.ds-icon--unlock {
  mask-image: url("@/styles/core/assets/icons/content-and-message/unlock.svg");
}

.ds-icon--video {
  mask-image: url("@/styles/core/assets/icons/content-and-message/video.svg");
}


// ecommerce
.ds-icon--card {
  mask-image: url("@/styles/core/assets/icons/ecommerce/card.svg");
}

.ds-icon--code-bar {
  mask-image: url("@/styles/core/assets/icons/ecommerce/code-bar.svg");
}

.ds-icon--discount {
  mask-image: url("@/styles/core/assets/icons/ecommerce/discount.svg");
}

.ds-icon--kart {
  mask-image: url("@/styles/core/assets/icons/ecommerce/kart.svg");
}

.ds-icon--kart-add {
  mask-image: url("@/styles/core/assets/icons/ecommerce/kart-add.svg");
}

.ds-icon--kart-count {
  mask-image: url("@/styles/core/assets/icons/ecommerce/kart-count.svg");
}

.ds-icon--kart-remove {
  mask-image: url("@/styles/core/assets/icons/ecommerce/kart-remove.svg");
}

.ds-icon--promocode {
  mask-image: url("@/styles/core/assets/icons/ecommerce/promocode.svg");
}


// essential
.ds-icon--account {
  mask-image: url("@/styles/core/assets/icons/essential/account.svg");
}

.ds-icon--add {
  mask-image: url("@/styles/core/assets/icons/essential/add.svg");
}

.ds-icon--alarm {
  mask-image: url("@/styles/core/assets/icons/essential/alarm.svg");
}

.ds-icon--alarm-add {
  mask-image: url("@/styles/core/assets/icons/essential/alarm-add.svg");
}

.ds-icon--calendar {
  mask-image: url("@/styles/core/assets/icons/essential/calendar.svg");
}

.ds-icon--calendar-add {
  mask-image: url("@/styles/core/assets/icons/essential/calendar-add.svg");
}

.ds-icon--calendar-check {
  mask-image: url("@/styles/core/assets/icons/essential/calendar-check.svg");
}

.ds-icon--cancel {
  mask-image: url("@/styles/core/assets/icons/essential/cancel.svg");
}

.ds-icon--check {
  mask-image: url("@/styles/core/assets/icons/essential/check.svg");
}

.ds-icon--check-box {
  mask-image: url("@/styles/core/assets/icons/essential/check-box.svg");
}

.ds-icon--circle-add {
  mask-image: url("@/styles/core/assets/icons/essential/circle-add.svg");
}

.ds-icon--circle-check {
  mask-image: url("@/styles/core/assets/icons/essential/circle-check.svg");
}

.ds-icon--circle-uncheck {
  mask-image: url("@/styles/core/assets/icons/essential/circle-uncheck.svg");
}

.ds-icon--close {
  mask-image: url("@/styles/core/assets/icons/essential/close.svg");
}

.ds-icon--download {
  mask-image: url("@/styles/core/assets/icons/essential/download.svg");
}

.ds-icon--edit {
  mask-image: url("@/styles/core/assets/icons/essential/edit.svg");
}

.ds-icon--enterprise {
  mask-image: url("@/styles/core/assets/icons/essential/enterprise.svg");
}

.ds-icon--error {
  mask-image: url("@/styles/core/assets/icons/essential/error.svg");
}

.ds-icon--filter {
  mask-image: url("@/styles/core/assets/icons/essential/filter.svg");
}

.ds-icon--folder {
  mask-image: url("@/styles/core/assets/icons/essential/folder.svg");
}

.ds-icon--folder-add {
  mask-image: url("@/styles/core/assets/icons/essential/folder-add.svg");
}

.ds-icon--folder-remove {
  mask-image: url("@/styles/core/assets/icons/essential/folder-remove.svg");
}

.ds-icon--info {
  mask-image: url("@/styles/core/assets/icons/essential/icon-info.svg");
}

.ds-icon--language {
  mask-image: url("@/styles/core/assets/icons/essential/language.svg");
}

.ds-icon--list-settings {
  mask-image: url("@/styles/core/assets/icons/essential/list-settings.svg");
}

.ds-icon--local {
  mask-image: url("@/styles/core/assets/icons/essential/local.svg");
}

.ds-icon--logout {
  mask-image: url("@/styles/core/assets/icons/essential/logout.svg");
}

.ds-icon--mail {
  mask-image: url("@/styles/core/assets/icons/essential/mail.svg");
}

.ds-icon--menu {
  mask-image: url("@/styles/core/assets/icons/essential/menu.svg");
}

.ds-icon--more {
  mask-image: url("@/styles/core/assets/icons/essential/more.svg");
}

.ds-icon--phone {
  mask-image: url("@/styles/core/assets/icons/essential/phone.svg");
}

.ds-icon--refresh {
  mask-image: url("@/styles/core/assets/icons/essential/refresh.svg");
}

.ds-icon--remove {
  mask-image: url("@/styles/core/assets/icons/essential/remove.svg");
}

.ds-icon--report {
  mask-image: url("@/styles/core/assets/icons/essential/report.svg");
}

.ds-icon--schedule {
  mask-image: url("@/styles/core/assets/icons/essential/schedule.svg");
}

.ds-icon--school {
  mask-image: url("@/styles/core/assets/icons/essential/school.svg");
}

.ds-icon--share {
  mask-image: url("@/styles/core/assets/icons/essential/share.svg");
}

.ds-icon--timer {
  mask-image: url("@/styles/core/assets/icons/essential/timer.svg");
}

.ds-icon--upload {
  mask-image: url("@/styles/core/assets/icons/essential/upload.svg");
}

.ds-icon--verified {
  mask-image: url("@/styles/core/assets/icons/essential/verified.svg");
}

.ds-icon--visibility {
  mask-image: url("@/styles/core/assets/icons/essential/visibility.svg");
}

.ds-icon--visibility-none {
  mask-image: url("@/styles/core/assets/icons/essential/visibility-none.svg");
}

.ds-icon--zoom-in {
  mask-image: url("@/styles/core/assets/icons/essential/zoom-in.svg");
}

.ds-icon--zoom-out {
  mask-image: url("@/styles/core/assets/icons/essential/zoom-out.svg");
}


// nav
.ds-icon--activities {
  mask-image: url("@/styles/core/assets/icons/nav/activities.svg");
}

.ds-icon--assessment {
  mask-image: url("@/styles/core/assets/icons/nav/assessment.svg");
}

.ds-icon--disciplines {
  mask-image: url("@/styles/core/assets/icons/nav/disciplines.svg");
}

.ds-icon--essay {
  mask-image: url("@/styles/core/assets/icons/nav/essay.svg");
}

.ds-icon--forum {
  mask-image: url("@/styles/core/assets/icons/nav/forum.svg");
}

.ds-icon--friends {
  mask-image: url("@/styles/core/assets/icons/nav/friends.svg");
}

.ds-icon--help {
  mask-image: url("@/styles/core/assets/icons/nav/help.svg");
}

.ds-icon--home {
  mask-image: url("@/styles/core/assets/icons/nav/home.svg");
}

.ds-icon--library {
  mask-image: url("@/styles/core/assets/icons/nav/library.svg");
}

.ds-icon--live {
  mask-image: url("@/styles/core/assets/icons/nav/live.svg");
}

.ds-icon--material {
  mask-image: url("@/styles/core/assets/icons/nav/material.svg");
}

.ds-icon--mock-test {
  mask-image: url("@/styles/core/assets/icons/nav/mock-test.svg");
}

.ds-icon--modules {
  mask-image: url("@/styles/core/assets/icons/nav/modules.svg");
}

.ds-icon--notification {
  mask-image: url("@/styles/core/assets/icons/nav/notification.svg");
}

.ds-icon--search {
  mask-image: url("@/styles/core/assets/icons/nav/search.svg");
}

.ds-icon--secretary {
  mask-image: url("@/styles/core/assets/icons/nav/secretary.svg");
}

.ds-icon--settings {
  mask-image: url("@/styles/core/assets/icons/nav/settings.svg");
}

.ds-icon--shop {
  mask-image: url("@/styles/core/assets/icons/nav/shop.svg");
}

.ds-icon--stats {
  mask-image: url("@/styles/core/assets/icons/nav/stats.svg");
}

.ds-icon--study-plan {
  mask-image: url("@/styles/core/assets/icons/nav/study-plan.svg");
}

.ds-icon--terms {
  mask-image: url("@/styles/core/assets/icons/nav/terms.svg");
}

.ds-icon--tuttoring {
  mask-image: url("@/styles/core/assets/icons/nav/tuttoring.svg");
}

.ds-icon--weekly-material {
  mask-image: url("@/styles/core/assets/icons/nav/weekly-material.svg");
}

.ds-icon--work {
  mask-image: url("@/styles/core/assets/icons/nav/work.svg");
}


// player
.ds-icon--cast {
  mask-image: url("@/styles/core/assets/icons/player/cast.svg");
}

.ds-icon--clock {
  mask-image: url("@/styles/core/assets/icons/player/clock.svg");
}

.ds-icon--forward-10 {
  mask-image: url("@/styles/core/assets/icons/player/forward-10.svg");
}

.ds-icon--fullscreen {
  mask-image: url("@/styles/core/assets/icons/player/fullscreen.svg");
}

.ds-icon--fullscreen-exit {
  mask-image: url("@/styles/core/assets/icons/player/fullscreen-exit.svg");
}

.ds-icon--pause {
  mask-image: url("@/styles/core/assets/icons/player/pause.svg");
}

.ds-icon--picture-in-picture {
  mask-image: url("@/styles/core/assets/icons/player/picture-in-picture.svg");
}

.ds-icon--play {
  mask-image: url("@/styles/core/assets/icons/player/play.svg");
}

.ds-icon--playlist {
  mask-image: url("@/styles/core/assets/icons/player/playlist.svg");
}

.ds-icon--playlist-add {
  mask-image: url("@/styles/core/assets/icons/player/playlist-add.svg");
}

.ds-icon--replay {
  mask-image: url("@/styles/core/assets/icons/player/replay.svg");
}

.ds-icon--replay-10 {
  mask-image: url("@/styles/core/assets/icons/player/replay-10.svg");
}

.ds-icon--replay-video {
  mask-image: url("@/styles/core/assets/icons/player/replay-video.svg");
}

.ds-icon--skip-next {
  mask-image: url("@/styles/core/assets/icons/player/skip-next.svg");
}

.ds-icon--skip-previous {
  mask-image: url("@/styles/core/assets/icons/player/skip-previous.svg");
}

.ds-icon--stop {
  mask-image: url("@/styles/core/assets/icons/player/stop.svg");
}

.ds-icon--subtitles {
  mask-image: url("@/styles/core/assets/icons/player/subtitles.svg");
}

.ds-icon--velocity {
  mask-image: url("@/styles/core/assets/icons/player/velocity.svg");
}

.ds-icon--volume-down {
  mask-image: url("@/styles/core/assets/icons/player/volume-down.svg");
}

.ds-icon--volume-mute {
  mask-image: url("@/styles/core/assets/icons/player/volume-mute.svg");
}

.ds-icon--volume-off {
  mask-image: url("@/styles/core/assets/icons/player/volume-off.svg");
}

.ds-icon--volume-up {
  mask-image: url("@/styles/core/assets/icons/player/volume-up.svg");
}


// social-media
.ds-icon--apple {
  mask-image: url("@/styles/core/assets/icons/social-media/apple.svg");
}

.ds-icon--apple-mark {
  mask-image: url("@/styles/core/assets/icons/social-media/apple-mark.svg");
}

.ds-icon--claro-mark {
  mask-image: url("@/styles/core/assets/icons/social-media/claro-mark.svg");
}

.ds-icon--facebook {
  mask-image: url("@/styles/core/assets/icons/social-media/facebook.svg");
}

.ds-icon--facebook-mark {
  mask-image: url("@/styles/core/assets/icons/social-media/facebook-mark.svg");
}

.ds-icon--google {
  mask-image: url("@/styles/core/assets/icons/social-media/google.svg");
}

.ds-icon--google-mark {
  mask-image: url("@/styles/core/assets/icons/social-media/google-mark.svg");
}

.ds-icon--google-play {
  mask-image: url("@/styles/core/assets/icons/social-media/google-play.svg");
}

.ds-icon--instagram {
  mask-image: url("@/styles/core/assets/icons/social-media/instagram.svg");
}

.ds-icon--linkedin {
  mask-image: url("@/styles/core/assets/icons/social-media/linkedin.svg");
}

.ds-icon--twitter {
  mask-image: url("@/styles/core/assets/icons/social-media/twitter.svg");
}

.ds-icon--whatsapp {
  mask-image: url("@/styles/core/assets/icons/social-media/whatsapp.svg");
}

.ds-icon--youtube {
  mask-image: url("@/styles/core/assets/icons/social-media/youtube.svg");
}