// radius
$border__radius--none: 0 !default;
$border__radius--sm: 8px !default;
$border__radius--lg: 24px !default;
$border__radius--pill: 500px !default;
$border__radius--circular: 50% !default;

// width
$border__width--none: 0 !default;
$border__width--hairline: 1px !default;
$border__width--thin: 2px !default;
$border__width--thick: 4px !default;