// brand
$color__brand: #00F88F !default;
$color__brand--light: #00F99D !default;
$color__brand--dark: #00804F !default;
$color__brand--darkest: #004D2F !default;

// neutral
$color__neutral--90: #191A1A !default;
$color__neutral--80: #313335 !default;
$color__neutral--60: #636769 !default;
$color__neutral--40: #96999C !default;
$color__neutral--20: #CACCCE !default;
$color__neutral--10: #E5E6E7 !default;
$color__neutral--05: #F2F2F3 !default;
$color__neutral--00: #FFF !default;

// highlight-primary
$color__highlight-primary: #269FF9 !default;
$color__highlight-primary--light: #56B4FA !default;
$color__highlight-primary--dark: #004D87 !default;

// highlight-secondary
$color__highlight-secondary: #FED500 !default;
$color__highlight-secondary--light: #FFDE33 !default;
$color__highlight-secondary--dark: #998000 !default;

// success
$color__success: #21A453 !default;
$color__success--light: #9EE2B8 !default;
$color__success--dark: #156A36 !default;

// warning
$color__warning: #FFC043 !default;
$color__warning--light: #FFE3AC !default;
$color__warning--dark: #997328 !default;

// danger
$color__danger: #FF4E4A !default;
$color__danger--light: #FF7572 !default;
$color__danger--dark: #A62826 !default;

// info
$color__info: #276EF1 !default;
$color__info--light: #9FBFF8 !default;
$color__info--dark: #174291 !default;