// font
$font__family--base: "Aprova Nova" !default;
$font__family--highlight: "Vanguard CF" !default;
$font__weight--black: 900 !default;
$font__weight--bold: 700 !default;
$font__weight--regular: 400 !default;
$font__size--quark: 8px !default;
$font__size--nano: 12px !default;
$font__size--xxxs: 14px !default;
$font__size--xxs: 16px !default;
$font__size--xs: 20px !default;
$font__size--sm: 24px !default;
$font__size--md: 32px !default;
$font__size--lg: 40px !default;
$font__size--xl: 42px !default;
$font__size--xxl: 48px !default;
$font__size--huge: 64px !default;
$font__size--giant: 72px !default;