$input__font--family: "Aprova Nova", sans-serif !default;
$input__background: var(--input-background) !default;
$input__color: var(--input-text-color) !default;
$input__border: 1px solid var(--input-border-color);
$input__radius: $border__radius--sm;
$input__margin: $spacing--nano 0 $spacing--xxxs;